body {
	background: black;
}
body,
button,
input {
	font-family: "Delius", sans-serif;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 5px;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border: none;
	border-bottom: 1px solid grey;
	height: 25px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgray;
	padding: 5px;
	border: 0px;
}
